<div class="container mt-4">
  <h3>{{ myLocalKey }}</h3>
  <h2 class="text-center mb-4">User List</h2>
  <table class="table table-bordered table-striped table-hover">
    <thead class="table-dark">
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
        <th>Address</th>
        <th>Phone</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      @for (user of users; track user.id) {
      <tr (click)="handleRowClick(user.id)" style="cursor: pointer">
        <td>{{ user.id }}</td>
        <td>{{ user.name }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.address }}</td>
        <td>{{ user.phone }}</td>
        <td><button>Edit</button><button>Delete</button></td>
      </tr>
      }
    </tbody>
  </table>
</div>
